@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 300px;
    aspect-ratio: 1;
    position: absolute;
}

.main__form-wrapper {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    font-family: 'roboto slab', sans-serif;
    font-size: 1rem;
}

.main__form-wrapper--hidden {
    opacity: 0;
    pointer-events: none;
}

.main__form {
    position: absolute;
    width: 450px;
    display: grid;
    gap: 0.5rem;
    transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out, transform 0.2s ease-in-out;
    opacity: 1;
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 5px;
    background-color: #a4161a;
    color: #fff;
    box-shadow: 0 0 3px 0 #000;
}

.main__form--hidden {
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
}

.main__form-message {
    min-height: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.main__form-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__form-column:last-child {
    margin-bottom: 0.5rem;
}

.main__form-input {
    padding: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.main__form-checkbox {
    width: 2rem;
    height: 2rem;
}

.main__form-button {
    padding: 0.5rem;
    font-family: 'Creepster', cursive;
    font-size: 1.5rem;
    background-color: #161a1d;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}