* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 300px;
    aspect-ratio: 1;
    position: absolute;
}

/* Koden ovanför är obligatorisk. Ereventuella CSS skriver ni nedanför denna kommentar */
.main__form-wrapper{
    display: flex;
    height:50vh;
    justify-content: center;
    align-items: center;
    opacity:1;
    transition: opacity .2s ease-in-out;
}
.main__form-wrapper--hidden{
    opacity:0;
    pointer-events: none;
}
.main__form{
    position:absolute;
    width:400px;
    display:grid;
    gap:.5rem;
    transition: opacity .2s ease-in-out, top .2s ease-in-out, transform .2s ease-in-out;
    opacity:1;
    
}
.main__form--hidden{

    transform:scale(.5);
    opacity:0;
    pointer-events:none;
}
.main__form-message{
    min-height:1.5rem;
    text-align: center;
    font-weight: bold;
}
.main__form-column{
    display:flex;
    justify-content: space-between;
}
.main__form-column:last-child{
    margin-bottom: .5rem;
}
.main__form-input{
    padding:.25rem;
}
.main__form-checkbox{
    width: 2rem;
    height: 2rem;
}
.main__form-button{
    padding:.5rem;
}